APP_NAME=output-gateway
# Port the app will listen on
PORT="3004"
# Node environment
NODE_ENV="development"
# Logging settings for "Debug" logging module: https://www.npmjs.com/package/debug
DEBUG="golemio:*"
# Log level settings - silly>debug>verbose>info>warn>error, defaults to INFO if not set
LOG_LEVEL="INFO"
# Connection to mongo database
MONGO_CONN="YOUR CONNECTION STRING GOES HERE"
# Connection to PostgreSQL database
POSTGRES_CONN="YOUR CONNECTION STRING GOES HERE"
POSTGRES_RO_CONN="YOUR CONNECTION STRING GOES HERE"
# Maximal value for pagination query parameter "limit"
PAGINATION_MAX_LIMIT="10000"
# Redis connection
REDIS_ENABLE=true
REDIS_CONN="redis://localhost:6379/"
# Redis default TTL in milliseconds
REDIS_DEFAULT_TTL=60000

# Telemetry
JAEGER_ENABLED=false
JAEGER_AGENT_HOST=
JAEGER_AGENT_PORT=
TELEMETRY_LOG_LEVEL=0 # NONE = 0, ERROR = 30, WARN = 50, INFO = 60, DEBUG = 70, VERBOSE = 80, ALL = 9999

# Sentry
SENTRY_ENABLED=false
SENTRY_DSN=
SENTRY_ENVIRONMENT=

# Prometheus Metrics
METRICS_ENABLED=false
METRICS_PORT=
METRICS_PREFIX=
