FORMAT: 1A
HOST: http://private-07825d-golemiooutputgateway.apiary-mock.com

# Golemio Output Gateway

Documentation URL: https://golemiooutputgateway.docs.apiary.io/

Open RESTful API gateway for Golemio.cz Prague data plafrorm. 
Gathers, enriches and caches data from various sources and provides a single access point to the data. 

Developed by https://operatorict.cz

## Versions

- **v0.1 (current)**

## General info


Parameters:
- latlng
   - location, API performs geo-spatial search to retrieve data close to the location

- range
   - filters the results by their distance from provided latlng in meters (range query)

- district
   - filters by Prague city districts (separated by comma)

- limit
   - pagination - limits number of retrieved items (kNN query)

- offset
   - pagination - mumber of the first items that are skipped
   
- updatedSince
   - filters all results with older last_updated timestamp than this parameter

# Group General
General resources.

## Prague City Districts [/city-districts/{?latlng,range,limit,offset,updatedSince}]

+ Parameters

 
    + latlng: `50.124935,14.457204` (optional, string) - Sorting by location (Latitude and Longitude separated by comma).
    + range: 5000 (optional, number) - Filter by distance from latlng in meters (range query). Depends on the latlng parameter.
    + limit: 10 (optional, number) - Limits number of retrieved items. Not used if `latlng` are set.
    + offset: 0 (optional, number) - Number of the first items that are skipped. Not used if `latlng` are set.
    + updatedSince: 1547466937208 (optional, number) - Filters all results with older last_updated timestamp than this parameter
    
### GET All Districts [GET]

+ Request (application/json; charset=utf-8)

    + Headers

            x-api-key: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9...

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "features": [
                    {
                        "geometry": {
                            "coordinates": [
                                [
                                    [
                                        14.506905018000054,
                                        50.17143575600005
                                    ],
                                    [
                                        14.506920516000037,
                                        50.17143330300007
                                    ],
                                    [
                                        14.50706690900006,
                                        50.171409925000034
                                    ],
                                    [
                                        14.50691112000004,
                                        50.170706719000066
                                    ],
                                    [
                                        14.506828183000039,
                                        50.170332306000034
                                    ],
                                    [
                                        14.506726067000045,
                                        50.169873273000064
                                    ],
                                    [
                                        14.50656196500006,
                                        50.169134764000034
                                    ],
                                    [
                                        14.50644408900007,
                                        50.16860229900004
                                    ],
                                    [
                                        14.506323791000057,
                                        50.16805864200006
                                    ],
                                    [
                                        14.506306061000032,
                                        50.167978505000065
                                    ],
                                    [
                                        14.506292570000028,
                                        50.16792895700007
                                    ],
                                    [
                                        14.506185411000047,
                                        50.167546248000065
                                    ],
                                    [
                                        14.506086873000072,
                                        50.16719478500005
                                    ],
                                    [
                                        14.505949396000062,
                                        50.16670343100003
                                    ],
                                    [
                                        14.50594880400007,
                                        50.16670156500004
                                    ],
                                    [
                                        14.505937852000045,
                                        50.166662674000065
                                    ],
                                    [
                                        14.505933675000051,
                                        50.166644432000055
                                    ],
                                    [
                                        14.505926575000046,
                                        50.166612685000075
                                    ],
                                    [
                                        14.505915360000074,
                                        50.16656905200006
                                    ],
                                    [
                                        14.50590868200004,
                                        50.166537977000075
                                    ],
                                    [
                                        14.505907831000059,
                                        50.16653400100006
                                    ],
                                    [
                                        14.505808745000024,
                                        50.16607740900008
                                    ],
                                    [
                                        14.505798986000059,
                                        50.166032906000055
                                    ],
                                    [
                                        14.505789782000022,
                                        50.16599044800006
                                    ],
                                    [
                                        14.505768205000038,
                                        50.16589119000008
                                    ],
                                    [
                                        14.50563194700004,
                                        50.16526246600006
                                    ],
                                    [
                                        14.50558170100004,
                                        50.16503084100003
                                    ],
                                    [
                                        14.50557673000003,
                                        50.165010351000035
                                    ],
                                    [
                                        14.505426090000071,
                                        50.164386173000025
                                    ],
                                    [
                                        14.50529057500006,
                                        50.16382448200005
                                    ],
                                    [
                                        14.505286570000067,
                                        50.16379345900003
                                    ],
                                    [
                                        14.504986383000073,
                                        50.163803442000074
                                    ],
                                    [
                                        14.503828592000048,
                                        50.163917093000066
                                    ],
                                    [
                                        14.50269441100005,
                                        50.163992060000055
                                    ],
                                    [
                                        14.502377899000066,
                                        50.164013037000075
                                    ],
                                    [
                                        14.50237940900007,
                                        50.16402587300007
                                    ],
                                    [
                                        14.501056488000074,
                                        50.164146706000054
                                    ],
                                    [
                                        14.499898182000038,
                                        50.164305193000075
                                    ],
                                    [
                                        14.499472739000055,
                                        50.16436343200007
                                    ],
                                    [
                                        14.499314266000056,
                                        50.16427158300007
                                    ],
                                    [
                                        14.498879702000067,
                                        50.16401985400006
                                    ],
                                    [
                                        14.498432183000034,
                                        50.163760635000074
                                    ],
                                    [
                                        14.49836627600007,
                                        50.16372245800005
                                    ],
                                    [
                                        14.498112062000075,
                                        50.16356268000004
                                    ],
                                    [
                                        14.498068946000046,
                                        50.16353557600007
                                    ],
                                    [
                                        14.498036305000028,
                                        50.163515018000055
                                    ],
                                    [
                                        14.497244778000038,
                                        50.16301744700007
                                    ],
                                    [
                                        14.495824989000027,
                                        50.162065194000036
                                    ],
                                    [
                                        14.495802617000038,
                                        50.16205016400005
                                    ],
                                    [
                                        14.495790126000031,
                                        50.162041808000026
                                    ],
                                    [
                                        14.49574773200004,
                                        50.16201331500008
                                    ],
                                    [
                                        14.495711257000039,
                                        50.162022093000076
                                    ],
                                    [
                                        14.495703061000029,
                                        50.16202409600004
                                    ],
                                    [
                                        14.495634263000056,
                                        50.16204537300007
                                    ],
                                    [
                                        14.49537041800005,
                                        50.162126941000054
                                    ],
                                    [
                                        14.495238722000067,
                                        50.16216765300004
                                    ],
                                    [
                                        14.494795318000058,
                                        50.16230043300004
                                    ],
                                    [
                                        14.494477990000064,
                                        50.16239699700003
                                    ],
                                    [
                                        14.494005193000078,
                                        50.16253445400008
                                    ],
                                    [
                                        14.493802583000047,
                                        50.16259507600006
                                    ],
                                    [
                                        14.493592137000064,
                                        50.162658005000026
                                    ],
                                    [
                                        14.493162442000028,
                                        50.16278871500003
                                    ],
                                    [
                                        14.492744931000061,
                                        50.162914595000075
                                    ],
                                    [
                                        14.492334592000077,
                                        50.16303928800005
                                    ],
                                    [
                                        14.49189152100007,
                                        50.16316510000007
                                    ],
                                    [
                                        14.491884889000062,
                                        50.163167059000045
                                    ],
                                    [
                                        14.491469257000062,
                                        50.16328937900005
                                    ],
                                    [
                                        14.491036886000074,
                                        50.16341467500007
                                    ],
                                    [
                                        14.490930925000043,
                                        50.16344593600007
                                    ],
                                    [
                                        14.490610829000047,
                                        50.16354016100007
                                    ],
                                    [
                                        14.490207674000033,
                                        50.163646966000044
                                    ],
                                    [
                                        14.489823740000077,
                                        50.163747744000034
                                    ],
                                    [
                                        14.489394376000064,
                                        50.16385487800005
                                    ],
                                    [
                                        14.489077347000034,
                                        50.16392867800005
                                    ],
                                    [
                                        14.489071661000025,
                                        50.16339041900005
                                    ],
                                    [
                                        14.489065767000056,
                                        50.16282591500004
                                    ],
                                    [
                                        14.489065745000062,
                                        50.16281938000003
                                    ],
                                    [
                                        14.489064671000051,
                                        50.16272019100006
                                    ],
                                    [
                                        14.489060701000028,
                                        50.16234515300005
                                    ],
                                    [
                                        14.489060024000025,
                                        50.16227331300007
                                    ],
                                    [
                                        14.489059649000069,
                                        50.162241882000046
                                    ],
                                    [
                                        14.488974728000073,
                                        50.16207335200005
                                    ],
                                    [
                                        14.488975744000072,
                                        50.16204667100004
                                    ],
                                    [
                                        14.488979363000055,
                                        50.161955971000054
                                    ],
                                    [
                                        14.488983019000045,
                                        50.16186509200003
                                    ],
                                    [
                                        14.488992267000071,
                                        50.16163441100008
                                    ],
                                    [
                                        14.488975029000073,
                                        50.161617834000026
                                    ],
                                    [
                                        14.48899278500005,
                                        50.161618032000035
                                    ],
                                    [
                                        14.489024275000077,
                                        50.16162406400008
                                    ],
                                    [
                                        14.488996801000042,
                                        50.161592522000035
                                    ],
                                    [
                                        14.48895851900005,
                                        50.16155467700003
                                    ],
                                    [
                                        14.488928581000039,
                                        50.161549326000056
                                    ],
                                    [
                                        14.488799807000078,
                                        50.16154772800007
                                    ],
                                    [
                                        14.487052047000077,
                                        50.161524830000076
                                    ],
                                    [
                                        14.486301358000048,
                                        50.16151498100004
                                    ],
                                    [
                                        14.486035472000026,
                                        50.161513135000064
                                    ],
                                    [
                                        14.48572699400006,
                                        50.16152224800004
                                    ],
                                    [
                                        14.485587962000068,
                                        50.16152637000005
                                    ],
                                    [
                                        14.48523811800004,
                                        50.16152740200005
                                    ],
                                    [
                                        14.484188591000077,
                                        50.16152250500005
                                    ],
                                    [
                                        14.483978904000026,
                                        50.16152541000008
                                    ],
                                    [
                                        14.483971189000044,
                                        50.161525821000055
                                    ],
                                    [
                                        14.483864409000034,
                                        50.16152442600003
                                    ],
                                    [
                                        14.48380300100007,
                                        50.161523568000064
                                    ],
                                    [
                                        14.483706218000066,
                                        50.16152232500008
                                    ],
                                    [
                                        14.483663953000075,
                                        50.16152178800007
                                    ],
                                    [
                                        14.483599299000048,
                                        50.161520918000065
                                    ],
                                    [
                                        14.48354458600005,
                                        50.161529088000066
                                    ],
                                    [
                                        14.483440557000051,
                                        50.16154463200007
                                    ],
                                    [
                                        14.483386733000032,
                                        50.16155260700003
                                    ],
                                    [
                                        14.483366499000056,
                                        50.16155210000005
                                    ],
                                    [
                                        14.483336009000027,
                                        50.16155132700004
                                    ],
                                    [
                                        14.483175601000028,
                                        50.16154703500007
                                    ],
                                    [
                                        14.482184741000026,
                                        50.161520686000074
                                    ],
                                    [
                                        14.481127188000073,
                                        50.16150171700008
                                    ],
                                    [
                                        14.479100469000059,
                                        50.16143676200005
                                    ],
                                    [
                                        14.478388778000067,
                                        50.161353879000046
                                    ],
                                    [
                                        14.478090070000064,
                                        50.16131909200004
                                    ],
                                    [
                                        14.477928797000061,
                                        50.161300287000074
                                    ],
                                    [
                                        14.477683153000044,
                                        50.161271706000036
                                    ],
                                    [
                                        14.477615744000047,
                                        50.16126387500003
                                    ],
                                    [
                                        14.477378799000064,
                                        50.16123623900006
                                    ],
                                    [
                                        14.477308357000027,
                                        50.16122805100008
                                    ],
                                    [
                                        14.477271977000044,
                                        50.161223763000066
                                    ],
                                    [
                                        14.476659128000051,
                                        50.16115237200006
                                    ],
                                    [
                                        14.475972644000024,
                                        50.16108049200005
                                    ],
                                    [
                                        14.474852429000066,
                                        50.160963120000076
                                    ],
                                    [
                                        14.47246731000007,
                                        50.16083994200005
                                    ],
                                    [
                                        14.472389624000073,
                                        50.160835923000036
                                    ],
                                    [
                                        14.46960812900005,
                                        50.16056493000008
                                    ],
                                    [
                                        14.469611095000062,
                                        50.16054704100003
                                    ],
                                    [
                                        14.469959953000057,
                                        50.15847053700003
                                    ],
                                    [
                                        14.469964038000057,
                                        50.15843414300008
                                    ],
                                    [
                                        14.47000328200005,
                                        50.158085035000056
                                    ],
                                    [
                                        14.469623585000022,
                                        50.15808702100003
                                    ],
                                    [
                                        14.469599042000027,
                                        50.15774228300006
                                    ],
                                    [
                                        14.469529286000068,
                                        50.15676013700005
                                    ],
                                    [
                                        14.469538267000075,
                                        50.15672462800006
                                    ],
                                    [
                                        14.469466588000046,
                                        50.15639162400004
                                    ],
                                    [
                                        14.469445483000072,
                                        50.156311722000055
                                    ],
                                    [
                                        14.469365163000077,
                                        50.15598612500003
                                    ],
                                    [
                                        14.469276791000027,
                                        50.15564529900007
                                    ],
                                    [
                                        14.46918405100007,
                                        50.15528521300007
                                    ],
                                    [
                                        14.469097727000076,
                                        50.15494075500004
                                    ],
                                    [
                                        14.469070359000057,
                                        50.15483126300006
                                    ],
                                    [
                                        14.469026470000074,
                                        50.15461441200006
                                    ],
                                    [
                                        14.468986245000053,
                                        50.154428738000036
                                    ],
                                    [
                                        14.468955831000073,
                                        50.15428848600004
                                    ],
                                    [
                                        14.468935517000034,
                                        50.15417108400004
                                    ],
                                    [
                                        14.46889880200007,
                                        50.15395967400008
                                    ],
                                    [
                                        14.468888677000052,
                                        50.15390778100004
                                    ],
                                    [
                                        14.468855297000061,
                                        50.153627060000076
                                    ],
                                    [
                                        14.468846297000027,
                                        50.15349567900006
                                    ],
                                    [
                                        14.468816573000026,
                                        50.15349796400005
                                    ],
                                    [
                                        14.468779827000048,
                                        50.15350072000007
                                    ],
                                    [
                                        14.467010320000043,
                                        50.153506073000074
                                    ],
                                    [
                                        14.466991421000046,
                                        50.15410680700006
                                    ],
                                    [
                                        14.466975489000049,
                                        50.15461015500006
                                    ],
                                    [
                                        14.466817130000038,
                                        50.15461091900005
                                    ],
                                    [
                                        14.46667545300005,
                                        50.15461160800004
                                    ],
                                    [
                                        14.466361608000057,
                                        50.15461356900005
                                    ],
                                    [
                                        14.464631471000075,
                                        50.154624169000044
                                    ],
                                    [
                                        14.462299855000026,
                                        50.154601840000055
                                    ],
                                    [
                                        14.461013853000054,
                                        50.15458896700005
                                    ],
                                    [
                                        14.461006291000047,
                                        50.154646926000055
                                    ],
                                    [
                                        14.460863559000074,
                                        50.155737704000046
                                    ],
                                    [
                                        14.460770138000044,
                                        50.15645167100007
                                    ],
                                    [
                                        14.460626004000062,
                                        50.15755294400003
                                    ],
                                    [
                                        14.460485314000039,
                                        50.15862811200003
                                    ],
                                    [
                                        14.460437550000051,
                                        50.15899298900007
                                    ],
                                    [
                                        14.460579105000022,
                                        50.159028687000045
                                    ],
                                    [
                                        14.462122024000053,
                                        50.15941773900005
                                    ],
                                    [
                                        14.464124226000024,
                                        50.15992261300005
                                    ],
                                    [
                                        14.46406593200004,
                                        50.16011114200006
                                    ],
                                    [
                                        14.464042939000024,
                                        50.160185167000066
                                    ],
                                    [
                                        14.464004153000076,
                                        50.160310708000054
                                    ],
                                    [
                                        14.463999998000077,
                                        50.16032422700005
                                    ],
                                    [
                                        14.463995995000062,
                                        50.160337034000065
                                    ],
                                    [
                                        14.463979066000036,
                                        50.16039189900005
                                    ],
                                    [
                                        14.463976005000063,
                                        50.160401612000044
                                    ],
                                    [
                                        14.463925520000032,
                                        50.16056478400003
                                    ],
                                    [
                                        14.463906763000068,
                                        50.16062556900005
                                    ],
                                    [
                                        14.463761155000043,
                                        50.16109626800005
                                    ],
                                    [
                                        14.463755672000048,
                                        50.161114026000064
                                    ],
                                    [
                                        14.463748975000044,
                                        50.16113548900006
                                    ],
                                    [
                                        14.463720326000043,
                                        50.161228073000075
                                    ],
                                    [
                                        14.463847753000039,
                                        50.16195721500003
                                    ],
                                    [
                                        14.46384660900003,
                                        50.16309639100007
                                    ],
                                    [
                                        14.463845344000049,
                                        50.16423083700005
                                    ],
                                    [
                                        14.463845202000073,
                                        50.164426209000055
                                    ],
                                    [
                                        14.463845039000034,
                                        50.164512408000064
                                    ],
                                    [
                                        14.463844987000073,
                                        50.16455106300003
                                    ],
                                    [
                                        14.463844769000048,
                                        50.16480904600007
                                    ],
                                    [
                                        14.463844760000029,
                                        50.164830281000036
                                    ],
                                    [
                                        14.46384467200005,
                                        50.16483599000003
                                    ],
                                    [
                                        14.46384474000007,
                                        50.164850244000036
                                    ],
                                    [
                                        14.46384467300004,
                                        50.16487837100004
                                    ],
                                    [
                                        14.463874907000047,
                                        50.16489028800004
                                    ],
                                    [
                                        14.463934084000073,
                                        50.164913556000045
                                    ],
                                    [
                                        14.464375499000028,
                                        50.16508744400005
                                    ],
                                    [
                                        14.464450688000056,
                                        50.165117113000065
                                    ],
                                    [
                                        14.466044929000077,
                                        50.16532947300004
                                    ],
                                    [
                                        14.466689083000063,
                                        50.16541528700003
                                    ],
                                    [
                                        14.46676986400007,
                                        50.165426026000034
                                    ],
                                    [
                                        14.466772537000054,
                                        50.16545257800004
                                    ],
                                    [
                                        14.466834163000044,
                                        50.16606919900005
                                    ],
                                    [
                                        14.466842919000044,
                                        50.16615600000006
                                    ],
                                    [
                                        14.46685677000005,
                                        50.16629443200003
                                    ],
                                    [
                                        14.46686055400005,
                                        50.16633233500005
                                    ],
                                    [
                                        14.466874317000077,
                                        50.166469852000034
                                    ],
                                    [
                                        14.466882385000076,
                                        50.166550603000076
                                    ],
                                    [
                                        14.467009175000044,
                                        50.167817642000045
                                    ],
                                    [
                                        14.466913787000067,
                                        50.169543471000054
                                    ],
                                    [
                                        14.469043346000035,
                                        50.16980704900004
                                    ],
                                    [
                                        14.470070541000041,
                                        50.16981627200005
                                    ],
                                    [
                                        14.472618199000067,
                                        50.16983922800006
                                    ],
                                    [
                                        14.472746216000075,
                                        50.16983587500005
                                    ],
                                    [
                                        14.474517869000067,
                                        50.169789370000046
                                    ],
                                    [
                                        14.477449955000054,
                                        50.16975926300006
                                    ],
                                    [
                                        14.477492575000042,
                                        50.16975883400005
                                    ],
                                    [
                                        14.478122972000051,
                                        50.16975235000007
                                    ],
                                    [
                                        14.480135783000037,
                                        50.16987696000007
                                    ],
                                    [
                                        14.480150560000027,
                                        50.16987789500007
                                    ],
                                    [
                                        14.480148620000023,
                                        50.16990358800007
                                    ],
                                    [
                                        14.480143697000074,
                                        50.169966497000075
                                    ],
                                    [
                                        14.480135906000044,
                                        50.170068084000036
                                    ],
                                    [
                                        14.480123363000075,
                                        50.17022978300008
                                    ],
                                    [
                                        14.48011099200005,
                                        50.170390679000036
                                    ],
                                    [
                                        14.480099620000033,
                                        50.17053759800007
                                    ],
                                    [
                                        14.480092058000025,
                                        50.17063412400006
                                    ],
                                    [
                                        14.480081722000023,
                                        50.17076888300005
                                    ],
                                    [
                                        14.48007595300004,
                                        50.17084306100003
                                    ],
                                    [
                                        14.480071252000073,
                                        50.17090426500005
                                    ],
                                    [
                                        14.480065471000046,
                                        50.17097916800003
                                    ],
                                    [
                                        14.480000223000047,
                                        50.17182409900005
                                    ],
                                    [
                                        14.479999371000076,
                                        50.171834733000026
                                    ],
                                    [
                                        14.47955064200005,
                                        50.17226709900007
                                    ],
                                    [
                                        14.479522914000029,
                                        50.17229379200006
                                    ],
                                    [
                                        14.48170852000004,
                                        50.17236784800008
                                    ],
                                    [
                                        14.483853330000045,
                                        50.17235479200008
                                    ],
                                    [
                                        14.483872975000054,
                                        50.17235542800006
                                    ],
                                    [
                                        14.484027405000063,
                                        50.17236009900006
                                    ],
                                    [
                                        14.484054699000069,
                                        50.172359320000055
                                    ],
                                    [
                                        14.487397111000064,
                                        50.17226126400004
                                    ],
                                    [
                                        14.489577698000062,
                                        50.172305692000066
                                    ],
                                    [
                                        14.490620651000029,
                                        50.172323282000036
                                    ],
                                    [
                                        14.492187905000037,
                                        50.17234966900003
                                    ],
                                    [
                                        14.493737514000031,
                                        50.172259060000044
                                    ],
                                    [
                                        14.494133533000024,
                                        50.172235913000065
                                    ],
                                    [
                                        14.494169724000074,
                                        50.172233825000035
                                    ],
                                    [
                                        14.495309715000076,
                                        50.17216714600005
                                    ],
                                    [
                                        14.495323838000047,
                                        50.17216584400006
                                    ],
                                    [
                                        14.497066871000072,
                                        50.17201003800005
                                    ],
                                    [
                                        14.497989173000065,
                                        50.171918521000066
                                    ],
                                    [
                                        14.499364650000075,
                                        50.17184795600008
                                    ],
                                    [
                                        14.499672840000073,
                                        50.171833150000055
                                    ],
                                    [
                                        14.501534822000053,
                                        50.17174369900005
                                    ],
                                    [
                                        14.503586131000077,
                                        50.17164885500006
                                    ],
                                    [
                                        14.504639161000057,
                                        50.17160023500003
                                    ],
                                    [
                                        14.505425548000062,
                                        50.171543118000045
                                    ],
                                    [
                                        14.506729517000053,
                                        50.17144850600005
                                    ],
                                    [
                                        14.506822223000029,
                                        50.17144174900005
                                    ],
                                    [
                                        14.506905018000054,
                                        50.17143575600005
                                    ]
                                ]
                            ],
                            "type": "Polygon"
                        },
                        "properties": {
                            "id": 538124,
                            "name": "Praha-Březiněves",
                            "slug": "praha-brezineves",
                            "timestamp": 1547467502239
                        },
                        "type": "Feature"
                    }
                ],
                "type": "FeatureCollection"
            }


## Prague City District [/city-districts/{district_id}]

+ Parameters

    + district_id: `praha-1` (string) - Identifier or slug of the city district.

### GET District [GET]

+ Request (application/json; charset=utf-8)

    + Headers

            x-api-key: eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9...

+ Response 200 (application/json; charset=utf-8)

    + Body

            {
                "geometry": {
                    "coordinates": [
                        [
                            [
                                14.410891049000043,
                                50.078674687000046
                            ],
                            [
                                14.409823394000057,
                                50.07906597400006
                            ],
                            [
                                14.409498644000053,
                                50.079838421000034
                            ],
                            [
                                14.409135422000077,
                                50.08076547200005
                            ],
                            [
                                14.409133017000045,
                                50.080766166000046
                            ],
                            [
                                14.409122900000057,
                                50.081177052000044
                            ],
                            [
                                14.409107517000052,
                                50.08127788500008
                            ],
                            [
                                14.407930326000042,
                                50.08124830100007
                            ],
                            [
                                14.406978834000029,
                                50.08123046000003
                            ],
                            [
                                14.406188198000052,
                                50.08122088500005
                            ],
                            [
                                14.404530876000024,
                                50.08117682300008
                            ],
                            [
                                14.404565942000033,
                                50.080806358000075
                            ],
                            [
                                14.404408449000073,
                                50.080800829000054
                            ],
                            [
                                14.404228619000037,
                                50.08079685900003
                            ],
                            [
                                14.403978049000045,
                                50.08079324000005
                            ],
                            [
                                14.403953535000028,
                                50.08079179100008
                            ],
                            [
                                14.403698577000057,
                                50.08077770700004
                            ],
                            [
                                14.403168664000077,
                                50.08075202900005
                            ],
                            [
                                14.403156436000074,
                                50.08075248800003
                            ],
                            [
                                14.402332523000041,
                                50.080749464000064
                            ],
                            [
                                14.402225991000023,
                                50.080748999000036
                            ],
                            [
                                14.401914519000059,
                                50.08074786800006
                            ],
                            [
                                14.401915079000048,
                                50.080660332000036
                            ],
                            [
                                14.401940146000072,
                                50.08064866900003
                            ],
                            [
                                14.401950773000067,
                                50.080624743000044
                            ],
                            [
                                14.401937431000022,
                                50.08060341000004
                            ],
                            [
                                14.401894845000072,
                                50.080590193000035
                            ],
                            [
                                14.40185890600003,
                                50.08059862200008
                            ],
                            [
                                14.401843424000049,
                                50.080618214000026
                            ],
                            [
                                14.401746805000073,
                                50.08060637500006
                            ],
                            [
                                14.401653687000078,
                                50.080618353000034
                            ],
                            [
                                14.401633524000033,
                                50.08059922900003
                            ],
                            [
                                14.40159271500005,
                                50.080590888000074
                            ],
                            [
                                14.401545704000057,
                                50.080614128000036
                            ],
                            [
                                14.401546604000032,
                                50.08064415900003
                            ],
                            [
                                14.401580340000066,
                                50.08066049400003
                            ],
                            [
                                14.401578929000038,
                                50.080742781000026
                            ],
                            [
                                14.400801064000063,
                                50.08065189000007
                            ],
                            [
                                14.400648927000077,
                                50.08064111400006
                            ],
                            [
                                14.400456659000042,
                                50.08063857600007
                            ],
                            [
                                14.40032651200005,
                                50.080645633000074
                            ],
                            [
                                14.40026113700003,
                                50.080649907000065
                            ],
                            [
                                14.40019540000003,
                                50.08065850500003
                            ],
                            [
                                14.399809617000074,
                                50.08070795500004
                            ],
                            [
                                14.399668444000042,
                                50.08072828400003
                            ],
                            [
                                14.39964936900003,
                                50.08067512800005
                            ],
                            [
                                14.399618227000076,
                                50.080594037000026
                            ],
                            [
                                14.399673741000072,
                                50.08058180900008
                            ],
                            [
                                14.399665941000023,
                                50.08055897100007
                            ],
                            [
                                14.39884156100004,
                                50.08065091000003
                            ],
                            [
                                14.398734572000023,
                                50.080251135000026
                            ],
                            [
                                14.397579889000042,
                                50.07992510300005
                            ],
                            [
                                14.397512696000035,
                                50.08001879600005
                            ],
                            [
                                14.397487314000045,
                                50.080054301000075
                            ],
                            [
                                14.397460151000075,
                                50.08009218900003
                            ],
                            [
                                14.397405201000026,
                                50.08016890700003
                            ],
                            [
                                14.397203740000066,
                                50.08045008900007
                            ],
                            [
                                14.397074478000036,
                                50.08063067000006
                            ],
                            [
                                14.397063820000028,
                                50.08064551700005
                            ],
                            [
                                14.397131136000041,
                                50.08073944200004
                            ],
                            [
                                14.397342045000073,
                                50.08101956000007
                            ],
                            [
                                14.396167151000043,
                                50.081361462000075
                            ],
                            [
                                14.395746842000051,
                                50.08148307700003
                            ],
                            [
                                14.395491002000028,
                                50.081112561000054
                            ],
                            [
                                14.395435125000063,
                                50.081097525000075
                            ],
                            [
                                14.395384165000053,
                                50.08108456000008
                            ],
                            [
                                14.395237016000067,
                                50.08104853400005
                            ],
                            [
                                14.394373359000042,
                                50.080832807000036
                            ],
                            [
                                14.39433746700007,
                                50.08082390200008
                            ],
                            [
                                14.394332656000074,
                                50.080822658000045
                            ],
                            [
                                14.393910107000067,
                                50.08156316600008
                            ],
                            [
                                14.393919671000049,
                                50.081579082000076
                            ],
                            [
                                14.39413606200003,
                                50.08193947500007
                            ],
                            [
                                14.393853206000074,
                                50.08201138700008
                            ],
                            [
                                14.393764883000074,
                                50.08203386000008
                            ],
                            [
                                14.393738020000058,
                                50.08204073300004
                            ],
                            [
                                14.393733996000037,
                                50.082041737000054
                            ],
                            [
                                14.392515420000052,
                                50.082351592000066
                            ],
                            [
                                14.392285766000043,
                                50.08198139500007
                            ],
                            [
                                14.392049023000027,
                                50.08194022200007
                            ],
                            [
                                14.391052253000055,
                                50.08176701700006
                            ],
                            [
                                14.390895225000065,
                                50.08213872700003
                            ],
                            [
                                14.39071741500004,
                                50.08255996400004
                            ],
                            [
                                14.391024378000054,
                                50.08290508200008
                            ],
                            [
                                14.38953422700007,
                                50.083409532000076
                            ],
                            [
                                14.389284462000035,
                                50.083094360000075
                            ],
                            [
                                14.389248920000057,
                                50.08304963200004
                            ],
                            [
                                14.38802372200007,
                                50.08297456000008
                            ],
                            [
                                14.388019764000035,
                                50.08298183200003
                            ],
                            [
                                14.388008008000043,
                                50.083003751000035
                            ],
                            [
                                14.387870710000072,
                                50.083788921000064
                            ],
                            [
                                14.387864088000072,
                                50.083796774000064
                            ],
                            [
                                14.387884621000069,
                                50.08380231900003
                            ],
                            [
                                14.388121761000036,
                                50.08391859800008
                            ],
                            [
                                14.38836243000003,
                                50.08403092300006
                            ],
                            [
                                14.388342694000073,
                                50.08404795800004
                            ],
                            [
                                14.387264453000057,
                                50.08497735600008
                            ],
                            [
                                14.387247504000072,
                                50.084991916000035
                            ],
                            [
                                14.387241966000033,
                                50.08499668800005
                            ],
                            [
                                14.386753932000033,
                                50.084751288000064
                            ],
                            [
                                14.386749231000067,
                                50.08474887300008
                            ],
                            [
                                14.385630908000053,
                                50.08510696500008
                            ],
                            [
                                14.38555776000004,
                                50.08513032700006
                            ],
                            [
                                14.385521675000064,
                                50.08510588200005
                            ],
                            [
                                14.385509476000038,
                                50.085099624000065
                            ],
                            [
                                14.385087856000041,
                                50.085291432000076
                            ],
                            [
                                14.384975398000051,
                                50.08530077200004
                            ],
                            [
                                14.384841788000074,
                                50.08531204500008
                            ],
                            [
                                14.384992563000026,
                                50.08553692500004
                            ],
                            [
                                14.385035635000065,
                                50.085601111000074
                            ],
                            [
                                14.38544657500006,
                                50.08621425600006
                            ],
                            [
                                14.385549325000056,
                                50.08636452500008
                            ],
                            [
                                14.385569253000028,
                                50.08636829200003
                            ],
                            [
                                14.38726700500007,
                                50.08676927600004
                            ],
                            [
                                14.387591886000052,
                                50.086888266000074
                            ],
                            [
                                14.38810668900004,
                                50.087150380000026
                            ],
                            [
                                14.388232397000024,
                                50.08729034100003
                            ],
                            [
                                14.38826378400006,
                                50.08750697000005
                            ],
                            [
                                14.388199082000028,
                                50.087801925000065
                            ],
                            [
                                14.388032047000024,
                                50.08868683500003
                            ],
                            [
                                14.387965933000032,
                                50.08933809700005
                            ],
                            [
                                14.388603113000045,
                                50.090581618000044
                            ],
                            [
                                14.388780544000042,
                                50.09102496700007
                            ],
                            [
                                14.389095562000023,
                                50.09252804500005
                            ],
                            [
                                14.389436732000036,
                                50.09276265400007
                            ],
                            [
                                14.39105020200003,
                                50.092946047000055
                            ],
                            [
                                14.392184753000038,
                                50.09307128700004
                            ],
                            [
                                14.39685173600003,
                                50.09358637200006
                            ],
                            [
                                14.39834817700006,
                                50.09330301000006
                            ],
                            [
                                14.399235715000032,
                                50.09342686400004
                            ],
                            [
                                14.39992634500004,
                                50.09355511700005
                            ],
                            [
                                14.403882998000029,
                                50.09412497300008
                            ],
                            [
                                14.404453849000049,
                                50.09420654300004
                            ],
                            [
                                14.405927166000026,
                                50.094392449000054
                            ],
                            [
                                14.406228316000067,
                                50.09445863000008
                            ],
                            [
                                14.407231262000039,
                                50.09468404800003
                            ],
                            [
                                14.40795789200007,
                                50.09483604400003
                            ],
                            [
                                14.408696490000068,
                                50.09494271600005
                            ],
                            [
                                14.409155511000051,
                                50.09502805500006
                            ],
                            [
                                14.409072782000067,
                                50.09515477600007
                            ],
                            [
                                14.409207860000038,
                                50.09514396700007
                            ],
                            [
                                14.409263705000058,
                                50.09513947700003
                            ],
                            [
                                14.409382704000052,
                                50.09512996600006
                            ],
                            [
                                14.409416720000024,
                                50.09512726300005
                            ],
                            [
                                14.409636836000061,
                                50.09541242700004
                            ],
                            [
                                14.411107345000062,
                                50.095423210000035
                            ],
                            [
                                14.410964747000037,
                                50.09467650300007
                            ],
                            [
                                14.410961843000052,
                                50.09465382800005
                            ],
                            [
                                14.41095251300004,
                                50.094580121000035
                            ],
                            [
                                14.410946996000064,
                                50.09453670200003
                            ],
                            [
                                14.410942833000036,
                                50.09451990600007
                            ],
                            [
                                14.410941527000034,
                                50.09449174500003
                            ],
                            [
                                14.410676701000057,
                                50.09443841700005
                            ],
                            [
                                14.41067115800007,
                                50.09443729000003
                            ],
                            [
                                14.410549842000023,
                                50.09441283500007
                            ],
                            [
                                14.410571238000045,
                                50.094370894000065
                            ],
                            [
                                14.410807969000075,
                                50.09390775600008
                            ],
                            [
                                14.410892843000056,
                                50.09374265100007
                            ],
                            [
                                14.410907330000043,
                                50.09371452800008
                            ],
                            [
                                14.41091338800004,
                                50.093715882000026
                            ],
                            [
                                14.410985340000025,
                                50.09373169700007
                            ],
                            [
                                14.411024286000043,
                                50.09374023100003
                            ],
                            [
                                14.411030898000035,
                                50.093741634000025
                            ],
                            [
                                14.411298510000051,
                                50.09380038100005
                            ],
                            [
                                14.411952660000054,
                                50.09334990700006
                            ],
                            [
                                14.412137071000075,
                                50.09322066800007
                            ],
                            [
                                14.41214171100006,
                                50.093217448000075
                            ],
                            [
                                14.412059119000048,
                                50.09310965800006
                            ],
                            [
                                14.412055415000054,
                                50.09311114500008
                            ],
                            [
                                14.412004363000051,
                                50.093025391000026
                            ],
                            [
                                14.411962772000038,
                                50.092948825000065
                            ],
                            [
                                14.411835817000053,
                                50.092766220000044
                            ],
                            [
                                14.411719732000051,
                                50.092629051000074
                            ],
                            [
                                14.411695763000068,
                                50.092601968000054
                            ],
                            [
                                14.411607666000066,
                                50.09250013400003
                            ],
                            [
                                14.411479325000073,
                                50.09235498000004
                            ],
                            [
                                14.411472918000072,
                                50.09233680500006
                            ],
                            [
                                14.411430920000043,
                                50.09221799900007
                            ],
                            [
                                14.412309303000029,
                                50.09272921400003
                            ],
                            [
                                14.413510219000045,
                                50.093167254000036
                            ],
                            [
                                14.413916657000073,
                                50.093237841000075
                            ],
                            [
                                14.414444175000028,
                                50.09331025800003
                            ],
                            [
                                14.41477082700004,
                                50.09337132400003
                            ],
                            [
                                14.41504169700005,
                                50.09344451000004
                            ],
                            [
                                14.416492391000077,
                                50.09389429400005
                            ],
                            [
                                14.417045021000035,
                                50.09304707900003
                            ],
                            [
                                14.417115068000044,
                                50.09306190500007
                            ],
                            [
                                14.417153175000067,
                                50.09307172300004
                            ],
                            [
                                14.41864115900006,
                                50.09345734800007
                            ],
                            [
                                14.420601099000066,
                                50.09380132800004
                            ],
                            [
                                14.422396670000069,
                                50.093997036000076
                            ],
                            [
                                14.42462602200004,
                                50.09415141800008
                            ],
                            [
                                14.426770403000035,
                                50.09429215800003
                            ],
                            [
                                14.426804502000039,
                                50.09429499300006
                            ],
                            [
                                14.426808379000022,
                                50.09429533600007
                            ],
                            [
                                14.426853298000026,
                                50.09429903800003
                            ],
                            [
                                14.427089049000074,
                                50.094318807000036
                            ],
                            [
                                14.427137291000065,
                                50.09432280300007
                            ],
                            [
                                14.427141168000048,
                                50.09432314600008
                            ],
                            [
                                14.429272922000052,
                                50.09450120200006
                            ],
                            [
                                14.431877153000073,
                                50.09402171800008
                            ],
                            [
                                14.433897415000047,
                                50.09427187300008
                            ],
                            [
                                14.435556857000051,
                                50.09421338000004
                            ],
                            [
                                14.436613831000045,
                                50.09429519500003
                            ],
                            [
                                14.436548497000047,
                                50.094025773000055
                            ],
                            [
                                14.436547184000062,
                                50.09402003000008
                            ],
                            [
                                14.436550479000061,
                                50.09400262400004
                            ],
                            [
                                14.436563295000042,
                                50.09393469100007
                            ],
                            [
                                14.43660546600006,
                                50.09371016700004
                            ],
                            [
                                14.436621819000038,
                                50.093623035000064
                            ],
                            [
                                14.436689132000026,
                                50.09326559700003
                            ],
                            [
                                14.43670843600006,
                                50.093162662000054
                            ],
                            [
                                14.436795509000035,
                                50.09270015100003
                            ],
                            [
                                14.436830980000025,
                                50.09251160900004
                            ],
                            [
                                14.436835709000036,
                                50.09248616200006
                            ],
                            [
                                14.436866203000022,
                                50.09232422600007
                            ],
                            [
                                14.436396668000043,
                                50.09135020100007
                            ],
                            [
                                14.436812780000025,
                                50.09071892800006
                            ],
                            [
                                14.436869987000023,
                                50.09063204900008
                            ],
                            [
                                14.436974442000064,
                                50.09044679200008
                            ],
                            [
                                14.436995618000026,
                                50.09041699000005
                            ],
                            [
                                14.437004645000059,
                                50.090404446000036
                            ],
                            [
                                14.437047975000041,
                                50.09034356700005
                            ],
                            [
                                14.437060478000035,
                                50.09032597700008
                            ],
                            [
                                14.437130655000033,
                                50.09022790100005
                            ],
                            [
                                14.437265865000029,
                                50.09003601500007
                            ],
                            [
                                14.437359909000065,
                                50.08990147700007
                            ],
                            [
                                14.437371496000026,
                                50.08988553000006
                            ],
                            [
                                14.437337987000035,
                                50.089367346000074
                            ],
                            [
                                14.43756875500003,
                                50.08941760300007
                            ],
                            [
                                14.43758839800006,
                                50.08942206200004
                            ],
                            [
                                14.43774725000003,
                                50.08945634100007
                            ],
                            [
                                14.437776476000067,
                                50.089462827000034
                            ],
                            [
                                14.43793542900005,
                                50.08949729700004
                            ],
                            [
                                14.437937777000059,
                                50.08927424500007
                            ],
                            [
                                14.437936181000055,
                                50.08905447400008
                            ],
                            [
                                14.437933011000041,
                                50.08881432600003
                            ],
                            [
                                14.437942132000046,
                                50.08853841700005
                            ],
                            [
                                14.43797115500007,
                                50.088274341000044
                            ],
                            [
                                14.437976551000077,
                                50.08811100300005
                            ],
                            [
                                14.437845665000054,
                                50.08800060100003
                            ],
                            [
                                14.437842954000075,
                                50.08799546000006
                            ],
                            [
                                14.437824416000069,
                                50.087843802000066
                            ],
                            [
                                14.437812390000033,
                                50.08767683700006
                            ],
                            [
                                14.437763945000029,
                                50.087358720000054
                            ],
                            [
                                14.43767727900007,
                                50.087028694000026
                            ],
                            [
                                14.437574146000031,
                                50.086745403000066
                            ],
                            [
                                14.437457133000066,
                                50.086503995000044
                            ],
                            [
                                14.437357094000049,
                                50.08653717100003
                            ],
                            [
                                14.437331591000031,
                                50.08654562600003
                            ],
                            [
                                14.437231867000037,
                                50.086578649000046
                            ],
                            [
                                14.437214858000061,
                                50.08658431500004
                            ],
                            [
                                14.437214405000077,
                                50.08658445700007
                            ],
                            [
                                14.437195589000055,
                                50.08659132500003
                            ],
                            [
                                14.437121518000026,
                                50.08650355000003
                            ],
                            [
                                14.43662637600005,
                                50.08591124700007
                            ],
                            [
                                14.436470307000036,
                                50.085720656000035
                            ],
                            [
                                14.436465808000037,
                                50.08571199900007
                            ],
                            [
                                14.43628743000005,
                                50.08537159400004
                            ],
                            [
                                14.436268575000042,
                                50.08533571100003
                            ],
                            [
                                14.43624514000004,
                                50.085290893000035
                            ],
                            [
                                14.436213090000024,
                                50.08522961300008
                            ],
                            [
                                14.436017768000056,
                                50.084856942000044
                            ],
                            [
                                14.435965478000071,
                                50.084757024000055
                            ],
                            [
                                14.435685759000023,
                                50.084222786000055
                            ],
                            [
                                14.43541306700007,
                                50.08386305700003
                            ],
                            [
                                14.434524090000025,
                                50.082690650000075
                            ],
                            [
                                14.434323948000042,
                                50.082420557000034
                            ],
                            [
                                14.434073420000061,
                                50.08215789600007
                            ],
                            [
                                14.433883820000062,
                                50.081955349000054
                            ],
                            [
                                14.43383540900004,
                                50.08190069800003
                            ],
                            [
                                14.433274618000041,
                                50.081304472000056
                            ],
                            [
                                14.432773675000021,
                                50.081010493000065
                            ],
                            [
                                14.433309360000067,
                                50.08061951600007
                            ],
                            [
                                14.433335033000048,
                                50.08060563200007
                            ],
                            [
                                14.433364532000041,
                                50.080602886000065
                            ],
                            [
                                14.433475814000076,
                                50.08062334700003
                            ],
                            [
                                14.433505720000028,
                                50.080629259000034
                            ],
                            [
                                14.43354109300003,
                                50.08061750400003
                            ],
                            [
[...]
